<%= form_for(@tape) do |f| %>
<div class="span4">
  <div class="row">
    <%= f.label 'Description' %>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>			
</div>