<h2>Full Tape Inventory</h2>

<div id="index">
<% @tapes.each do |tape| %>
<%= link_to "#{tape.number} | #{tape.description}", tape %> || <%= link_to 'Edit', edit_tape_path(tape) %><br />
<% end %>
<h4><%= link_to 'Create New Tape', new_tape_path %></h4>
