<div class="iphone-button">
	<%= link_to 'Scan', "qr://", class: "btn btn-large btn-warning btn-block" %>
<br />
</div>

<div class="iphone-list">	
	<% @tapes.each do |tape| %>
	  <%= link_to "#{tape.number} | #{tape.description}", tape %><br />
	<% end %>
</div>
<div class="iphone-button">
	<%= link_to 'Scan', "qr://", class: "btn btn-large btn-warning btn-block" %>
</div>
