<div id="index-iphone">
	<div class="btn-group">
		<%= link_to 'Locations', locations_path, class: "btn btn-inverse" %>
	</div>	
	<% @tapes.each do |tape| %>
	  <%= link_to "#{tape.number}", tape, class: "label" %> 
		<%= link_to "#{tape.description}", tape %><br />
	<% end %><br />
</div>
<div class="btn-group">
	<%= link_to 'Scan', "qr://", class: "btn btn-large btn-warning" %>
</div>
