<h2>Tapes</h2>
<div id="index-list">
	<% @tapes.each do |tape| %>
	  <%= link_to "#{tape.number}", tape, class: "label" %> 
		<%= link_to "#{tape.description}", tape %><br />
	<% end %><br />
</div>
<div id="index-btn">
	<%= link_to 'New Tape', new_tape_path, class: "btn btn-success" %>	
</div>


