<div id="print-list">
	<ul>
		<li><div id="print-box"><%= image_tag(@code) %><%= @tape.number %></div></li><br /><br />
		<li><%= link_to 'Back', tape_path, class: "btn btn-inverse" %> </li>
	</ul>
</div>
