@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 35px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar .container {
	width: auto;
	margin: 0% 2% 0% 5%;
}

.navbar .brand { 
	color: white;
	font-weight: bold;	
	}
	
.navbar .nav { 
	color:white;
	}

.navbar .nav > li > a {	
	color:white;
	&:hover {
		color: #FFF;
		text-decoration:none;
		font-weight: bold;
		}
	}

#delete {
	float:center;
	a:hover {
		color: #FFF;
		text-decoration:none;
		background-color:transparent;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-left: 15px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  margin-left: 5%;
  text-align: left;
  font-weight: normal;
  color: #999;
}

h3 {
	font-size:1.3em;
	text-align: center;
	color: gray;
	a { color: gray;
		text-decoration:none;
		&:visted { 	color:gray; }
		&:hover { 	text-decoration:none;
					background:none;
					color: black;}
	}
}

h6 {
	font-size: .7em;
	color: gray;
	text-align:center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a.btn-inverse:visited { color: #fff; }
a.btn:visited { color: #fff; }

/* forms */

input {
  height: auto !important;
}

/* printing */

#print-box {

	vertical-align:middle;
	width: 180px;
	border:4px solid black;
	font-size:400%;
	font-weight:bold;
}

#print-list {
	ul { list-style: none;
		li {display: inline;}
		}	
}

#index-list {
	width: auto;
	margin-left:5%;
	a { color:#666; }
	a:hover { 	
		text-decoration: none; 
		background: transparent;
		color:black;
		font-weight:bold;
		}
	a.label:hover {
		background: gray;
		color:white;
			}
}

.index-iphone {
	width: auto;
	margin-left:5%;
	font-size:130%;
	a { color:#666; }
	a:hover { 	
		text-decoration: none; 
		background: transparent;
		color:black;
		font-weight:bold;
		}
}

#index-btn {
	margin-left:5%;
	color:black;
}

.form {
	label {	color: black; }
}

#flash-test {
	position:absolute;
	top:60px;
}

.iphone-show {
	margin-left:auto;
	text-align: center;	
}

.btn-group {
  text-align: center;
}

.iphone-button {
	padding-top: 10px;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}​

.iphone-form {
	text-align: center;
	font-size:130%;
}

label {
	color:white;
}

#head-iphone {
	text-align: center;
}