<h2><%= @location.location %></h2>

<div id="index-list">
	
	<br />
	<% @location.tapes.each do |tape| %>
	  <%= link_to "#{tape.number}", tape, class: "label" %> 
		<%= link_to "#{tape.description}", tape %><br />
	<% end %><br />
</div>