<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<div id="head-iphone" >
				<%= link_to "TAPE", root_path, class: "nav" %>
				<%= link_to "LOCATION", locations_path, class: "nav" %>			</div>
					<%= form_tag search_tapes_url, class: "navbar-form pull-right" do %>
					<%= text_field_tag :search, nil, class: "input-mini" %>
				<% end %>

		</div>
	</div>
</header>