<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<div class="head-iphone" >
				<%= link_to "TETCO TAPE REPOSITORY", root_path, id: "head-iphone" %>				
			</div>
		</div>
	</div>
</header>