<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<div id="head-iphone" >
				<%= link_to "TETCO TAPE REPOSITORY", root_path %>				
			</div>
		</div>
	</div>
</header>