<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to logo, root_path, id: "logo" %>
				<div class="btn-toolbar">
					<%= link_to "Tapes", root_path, class: "btn btn-inverse" %>
					<%= link_to "Locations", locations_path, class: "btn btn-inverse" %>
				</div>
		</div>
	</div>
</header>